@{
    ViewData["Title"] = "Home Page";
}

<div class="row justify-content-md-center" style="padding-top:20px">

    <div class="text-center" width="200px">
        <div>
            <img src="~/imgs/empp.png" />
        </div>
        <h5>Welcome to our Employee Portal- Just a demo for Grover Gaming. :)</h5>
        <span><b>MS stack used:</b></span>

        <ul>
            <li>Asp.net Core</li>
            <li>Entity Framework Core</li>
            <li>LINQ</li>
            <li>JQuery</li>
            <li>Bootstrap</li>
            <li>Azure SQL Database</li>
            <li>Azure Web app</li>
        </ul>

        <p><a class="btn btn-success" asp-action="index" asp-controller="Employees">Start here</a></p>
    </div>

</div>
